* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    /* font-family: inherit; */
    font-family: 'Montserrat', sans-serif;
    line-height: inherit;
    color: inherit;
    text-decoration: none;
    list-style: none;
}

:root {
    --background-color-1: linear-gradient(to right, #ff00cc 0%,  #ff00cc 51%, #333399 100%);
    --background-color-2: linear-gradient(to right,  #333399 0%,  #ff00cc 51%, #ff00cc 100%);
    --background-color-3: linear-gradient(to right,#ff8a00,#ff2070);
    --background-color-4: linear-gradient(to right,   #C02425 0%, #F0CB35 51%, #F0CB35 100%);
    --text-color: #ffa533;
}
