@import url("../../global/global.css");

.product-item {
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  /* height: 250px; */
  /* background-color: rgb(64, 96, 64); */
}

.product-img img {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
}
.product-img img:hover {
    transform: scale(1.2);
}

.product-status {
  position: absolute;
  top: 3px;
  left: 3px;
  background: #a94442;
  background: var(--background-color-1);
  color: #fff;
  padding: 3px 6px;
  font-size: 14px;
  border-radius: 6px;
}
.product-episode {
  position: absolute;
  right: 2px;
  bottom: 52px;
  background: var(--background-color-4);
  color: #fff;
  padding: 3px 6px;
  font-size: 12px;
  border-radius: 4px;
}
.product-pots-title {
  position: absolute;
  bottom: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.63);
  color: #fff;
  width: 100%;
  line-height: 18px;
  font-size: 14px;
}
.product-pots-title h2 {
  font-size: 14.5px;
  font-weight: 100;
  color: var(--text-color);
}
.product-pots-title p {
  font-size: 13px;
  color: #8a9eaf;
}
