@import url("../../global/global.css");

.product {
}
.product-item {
  position: relative;
  overflow: hidden;
  border-radius: 6px;
}
.product-item:hover {
  background-image: linear-gradient(to bottom, rgba(235,20,54,0.9) 0%, rgba(123,67,151,0.9) 100%);
}
.product-item:hover .product-img img {
  transform: scale(1.2);
  transition: transform 0.5s ease;
  opacity: 0.5;
}
.product-item:hover .product-status {
  background-position: right center;
  transition: background-position .5s ease;
}
.product-item:hover .product-episode {
  background-position: right center;
  transition: background-position .5s ease;
}
.product-img img {
  width: 100%;
  height: auto;
}

.product-status {
  position: absolute;
  top: 3px;
  left: 3px;
  background: #a94442;
  background-size: 200% 100%;
  background-image: var(--background-color-1);
  color: #fff;
  padding: 3px 6px;
  font-size: 14px;
  border-radius: 6px;
}
.product-episode {
  position: absolute;
  right: 2px;
  bottom: 52px;
  background: rgb(71, 132, 19);
  background-size: 200% 100%;
  background-image: var(--background-color-4);
  color: #fff;
  padding: 3px 6px;
  font-size: 12px;
  border-radius: 4px;
}
.product-pots-title {
  position: absolute;
  bottom: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.63);
  color: #fff;
  width: 100%;
  line-height: 18px;
  font-size: 14px;
}
.product-pots-title h2 {
  font-size: 14.5px;
  font-weight: 100;
  color: var(--text-color);
}
.product-pots-title p {
  font-size: 13px;
  color: #8a9eaf;
}
