@import url("../../global/grid.css");
.container {
  background-color: #222d38;
  height: 3000px;
}
.grid  {
  background: #1821299e;
}


@media (max-width: 1023px) {
  
}

@media (min-width: 740px) and (max-width: 1023px) {
  
}
