@import url("../../global/global.css");
@import url("../../global/grid.css");
.container {
  background-color: #222d38;
  height: 1000px;
}
.grid  {
  background: #1821299e;
}

.grid-top {
  /* border-bottom: 1px solid #888; */
  padding: 12px 8px;
}
.grid-top h2 {
  color: #7aa6ce;
  font-size: 14px;
  font-weight: 150;
}
.grid-top span {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  background: var(--background-color-3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: #ff2070;
  border-bottom: 2px solid red;
  padding-bottom: 12px;
}

.grid-border-bottom {
  margin-bottom: 16px;
}

.item {
  margin-bottom: 4px;
}

.product-sidebar {
  height: 300px;
  background-color: greenyellow;
}
@media (max-width: 1023px) {
  
}

@media (min-width: 740px) and (max-width: 1023px) {
  
}
